.appointments {
    &-header {

        h1 {
            margin: 0;
            padding: 30px;
            background-color: #75b6fe;
            color: #FFFFFF;
        }

        &__nav {
            display: flex;
            justify-content: space-between;

            &-item {
                width: 100%;
                display: flex;
                justify-content: center;
                padding: 20px 0;
                cursor: pointer;
                transition: all 0.2s;

                &:hover {
                    border-bottom: 2px solid #75b6fe;
                    color: #75b6fe !important;
                }
            }

            .item-active {
                border-bottom: 2px solid #75b6fe;
                color: #75b6fe !important;
            }
        }
    }

    &-main {
        margin-top: 50px;

        &__button {
            margin: 50px auto;
            display: flex;
            justify-content: center;

            button {
                background: #FEBD75;
                color: #FFFFFF;
                font-weight: bold;
                padding: 15px;
                border: none;
                font-size: 15px;
                cursor: pointer;
            }
        }

        &__container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-bottom: 50px;

            &-item {
                padding: 20px 40px;
                margin-bottom: 7px;
                width: 200px;
                text-align: center;
                display: flex;
                justify-content: space-around;
                align-items: center;

                svg {
                    cursor: pointer;
                }
            }

            .available {
                background-color: greenyellow;
            }

            .unavailable {
                background-color: #3241A8;
                color: white;
                font-weight: bold;
                display: flex;
                flex-direction: column;
            }
        }
    }

    &__modal {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 190px;
        background: white;
        padding-top: 50px;

        h2 {
            text-align: center;
            color: #00083E;
        }

        form {
            display: flex;
            flex-direction: column;
            margin: 30px auto;
            width: 70%;
            max-width: 280px;

            label {
                margin-bottom: 5px;
                color: #00083E;
                display: flex;

                .invalid,
                .valid {
                    margin-right: 10px;
                }
            }

            input {
                margin-bottom: 15px;
                padding: 10px;
            }

            input[type=submit] {
                background-color: #FEBD75;
                border: none;
                color: #00083E;
                cursor: pointer;
                font-weight: bold;
                padding: 15px 10px;
                font-size: 16px;
                transition: all 0.2s;

                &:hover {
                    background-color: #00083E;
                    color: #FEBD75;
                }
            }

            button {
                background-color: #00083E;
                color: #FEBD75;
                border: none;
                cursor: pointer;
                font-weight: bold;
                padding: 15px 10px;
                font-size: 16px;
                transition: all 0.2s;

                &:hover {
                    background-color: #FEBD75;
                    color: #00083E;
                }
            }

            #datenote,
            #timenote {
                font-size: 10px;
                color: red;
                margin-bottom: 10px;
                display: flex;
                align-items: center;
            }

            .danger {
                color: red;
                margin-right: 3px;
            }
        }
    }
}